<include file="Template:head" />
    <!-- content start -->
    <div class="admin-content">

      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">购物车</strong></div>
      </div>
      <div class="am-tabs am-margin" data-am-tabs><strong class="am-text-success am-text-lg">下单成功，下面是您的订单信息：</strong></div>
      <div class="am-tabs am-margin" data-am-tabs><strong class="am-text-success am-text-lg">联系人：{$name}<br>联系电话：{$phone}<br>送餐地址：{$address}</strong></div>
      <div class="am-g">
        <div class="am-u-sm-12">
          <table class="am-table am-table-bd am-table-striped admin-content-table">
            <thead>
              <tr>
                <th>商品</th><th>价格</th>
              </tr>
            </thead>
            <tbody>
             <volist name="itemList" id="vo">
              <tr><td>{$vo.name}</td><td>{$vo.price}元</td>
              </tr>
            </volist>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <!--
    <div class="am-margin am-cf">
      <hr/>
      <p class="am-fl">共 15 条记录</p>
      <ol class="am-pagination am-fr">
        <li class="am-disabled"><a href="#">&laquo;</a></li>
        <li class="am-active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ol>
    </div>
  -->
</div>
<!-- content end -->
<include file="Template:foot" />