<include file="Template:head" />
  <!-- content start -->
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品管理</strong></div>
    </div>
     <div class="am-g">
      <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped admin-content-table">
          <thead>
          <tr>
            <th>ID</th><th>商品名称</th><th>价格</th><th>单位</th><th>所属分类</th><th>管理</th>
          </tr>
          </thead>
          <tbody>
            <volist name="itemList" id="vo">
          <tr><td>{$vo.id}</td><td>{$vo.name}</td><td>{$vo.price}</td> <td>{$vo.unit}</td><td>{$vo.category_name}</td>
            <td><a href="__ROOT__/admin.php/Item/edit?id={$vo.id}">编辑商品</a>|<a href="__ROOT__/admin.php/Item/del?id={$vo.id}">删除商品</a></li>
            </td>
          </tr>
          </volist>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- content end -->
<include file="Template:foot" />